@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    height: 100%;
    background: whitesmoke;
    align-items: center;
}
.container{
    display: flex;

}

.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px rgb(46, 44, 44);
    overflow: hidden;
}
img{
    height: 500px;
    width: 350px;
    border-radius: 5px;
    object-fit: fill;
}

.intro{
    height: 70px;
    width: 350px;
    padding: 3px;
    box-sizing: border-box;
    position: absolute;
    bottom: 50px;
    background: rgba(63, 61, 61, 0.5);
    color: white;
    transition: .5s;
}

h1{
    margin: 10px;
    font-size: 40px;
}

p{
    font-size: 12px;
    margin: 16px;
    visibility: hidden;
    opacity: 0;

}

span{
    font-weight: bold;

}

/* Card hover effect */

.card:hover{
    cursor: pointer;
    transform: scale(1.15);
    border-radius: 5px !important;
    transition: .5s;
    
}

.card:hover .intro{
    height: 200px;
    bottom: 0px;
    background: rgb(150, 138, 138);
    border-radius: 5px;

}

.card:hover p{
    opacity: 1;
    visibility: visible;
}


